#id1 {
	border-radius: 50px;
}
#demo2 {
  animation: rotation 0.5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(75deg);
  }
}
.aangeklikt {
	opacity: 0.5;
}
